section.about#about
    .container
        .right-title
            h2.title-2 о компании
        .about-text
            .text-block
                p Идея создания компании зародилась еще в начале&nbsp;2015&nbsp;г.
                p.pb-20 Проработав в разных проектных и строительных компаниях, и набрав определенный опыт, были сделаны следующие выводы:
                ol
                    li Размытая постановка задач приводит к выполнению пустой работы и срыву сроков;
                    li Уход от взятых на себя обязательств, при возникновении проблем в ходе работы;
                    li Отсутствие планирования рабочего процесса.
            .text-block
                p Компания «Дельта В Групп» создавалась исключительно для решения вопросов и задач любой сложности в максимально короткие сроки и без потери качества. 
                p Каждый наш сотрудник, понимая всю важность доверенного ему дела, не боится брать на себя ответственность и вести его от начала и до конца с полной самоотдачей.
        .img-block
            img(src="img/about.jpg", alt="")