section.benefits
    .container
        .benefits-row
            .container-col
                h2.title-2 Преимущества
                .benefits-text#benefits-text
                    .benefits-text-item.active(data-item="1")
                        h3.title-3 цена и качество1
                        p Выгодное соотношение цены и качества.
                    .benefits-text-item(data-item="2")
                        h3.title-3 цена и качество2
                        p Выгодное соотношение цены и качества.
                    .benefits-text-item(data-item="3")
                        h3.title-3 цена и качество3
                        p Выгодное соотношение цены и качества.
            .container-col
                .benefits-img
                    a(href="#" style="background-image: url('img/benefit1.jpg')"  data-card="1").benefits-img-item
                        span цена и качество
                        span.arrow &rarr;
                    a(href="#" style="background-image: url('img/benefit2.jpg')" data-card="2").benefits-img-item
                        span цена и качество
                        span.arrow &rarr;
                    a(href="#" style="background-image: url('img/benefit3.jpg')" data-card="3").benefits-img-item
                        span цена и качество
                        span.arrow &rarr;