section.service-description
    .container
        h2.title-2 Описание раздела
        .service-description__text
            p.pb-16 #[span.color-span ЭОМ] – система внутреннего электроосвещения и силового оборудования. 

            p.pb-16 #[span.color-span Электроосвещение] – комплекс мероприятий для создания искусственного света в различных помещениях.

            p.pb-16 #[span.color-span Электроснабжение] - совокупность мероприятий по обеспечению электроэнергией различных ее потребителей. 
            p Системой электроснабжения называется комплекс инженерных сооружений, осуществляющих задачи электроснабжения, или совокупность электроустановок, предназначенных для обеспечения потребителей электрической энергией.
section.structure
    .container
        h2.title-2 Состав раздела
        .structure-list
            p.structure-title Стадия «Проект» согласно Постановлению Правительства Российской федерации №87:
            ul
                li - Пояснительная записка (по пунктам Постановления №87)
                li - Принципиальные схемы электроснабжения электроприемников от основного, дополнительного и резервного источников электроснабжения
                li - Принципиальная схема сети освещения
                li - Принципиальная схема сети аварийного освещения
                li - Схемы заземлений (занулений) и молниезащиты
                li - План сетей электроснабжения
                li - Схему размещения электрооборудования (при необходимости)
                
        .structure-list
            p.structure-title Стадия «Рабочая документация»:
            ul
                li - Общие данные с указанием всех проектных решений и указаний по монтажу
                li - Однолинейные расчетные схемы
                li - Схемы управления, при необходимости
                li - Схемы основной и дополнительной систем уравнивания потенциалов, заземления, молниезащиты
                li - Поэтажные планы с расстановкой осветительных приборов, оборудования, лотков, систем уравнивания потенциалов, заземления, молниезащиты, стояков, трассировкой групповой и распределительной сети
                li - Спецификация материалов и оборудования. 
                
        
section.data-list
    .container
        h2.title-2 Перечень исходных данных
        ul
            li - Технические условия от энергоснабжающей компании (ТУ)   
            li - Технические условия от энергосбытовой компании (ТУ)   
            li - Техническое задание  
            li - Акт разграничения балансовой принадлежности и эксплуатационной ответственности   
            li - Архитектурные чертежи здания, сооружения (Раздел АР)   
            li - Технологическое задание от смежных разделов   
            li - Дизайн-проект с размещением осветительный приборов и розеток (при необходимости)
section.work-stage
    .container
        h2.title-2.text-center Этапы работы
        .work-stage-wrapper
            +work-item('work1', 1, 'Вы оставляете заявку на сайте или звоните нам')
            +work-item('work2', 2, 'Мы обсуждаем с Вами детали будущего проекта')
            +work-item('work3', 3, 'Делаем точный расчет&nbsp;в&nbsp;соответвии с&nbsp;позициями&nbsp;проекта')
            +work-item('work4', 4, 'Заключаем <br> договор')(class="w-14")
            +work-item('work5', 5, 'Вы вносите предоплату')(class="w-14")
            +work-item('work6', 6, 'Мы приступаем к работе')