section.service-description
    .container
        h2.title-2 Описание раздела
        .service-description__text
            p Основной задачей раздела является проектирование систем отопления, теплоснабжения, вентиляции, кондиционирования, холодоснабжения зданий и сооружений для обеспечения нормируемых параметров воздуха (температуры, влажности, чистоты).
section.structure
    .container
        h2.title-2 Состав раздела
        .structure-list
            p.structure-title Стадия «Проект» согласно Постановлению Правительства Российской федерации №87:
            ul
                li - Пояснительная записка (по пунктам Постановления №87)
                li - Принципиальные схемы систем отопления, вентиляции и кондиционирования воздуха
                li - Схема паропроводов (при наличии)
                li - Схема холодоснабжения (при наличии)
                li - План сетей теплоснабжения.
                
        .structure-list
            p.structure-title Стадия «Рабочая документация»:
            ul
                li - Общие данные с указанием всех проектных решений (в том числе подбор оборудования), расчетных расходов и указаний по монтажу
                li - Характеристики отопительно-вентиляционных систем
                li - Планы систем отопления, вентиляции и кондиционировани 
                li - Планы систем тепло-/холодоснабжения, дренажа 
                li - Аксонометрические схемы систем отопления, вентиляции, кондиционирования, тепло-/холодоснабжения, дренажа 
                li - Типовые узлы крепления оборудования, трубопроводов, воздуховодов 
                li - Принципиальные схемы обвязки систем тепло-/холодоснабжения
                li - Спецификация материалов и оборудования.
        
section.data-list
    .container
        h2.title-2 Перечень исходных данных
        ul
            li - Техническое задание
            li - Архитектурные чертежи здания, сооружения (Раздел АР)
            li - Технические условия
            li - Технологические решения (Подраздел ТХ)
            li - Сведения об ограждающих конструкциях
            li - Сведения о мероприятиях по солнцезащите

section.work-stage
    .container
        h2.title-2.text-center Этапы работы
        .work-stage-wrapper
            +work-item('work1', 1, 'Вы оставляете заявку на сайте или звоните нам')
            +work-item('work2', 2, 'Мы обсуждаем с Вами детали будущего проекта')
            +work-item('work3', 3, 'Делаем точный расчет&nbsp;в&nbsp;соответвии с&nbsp;позициями&nbsp;проекта')
            +work-item('work4', 4, 'Заключаем <br> договор')(class="w-14")
            +work-item('work5', 5, 'Вы вносите предоплату')(class="w-14")
            +work-item('work6', 6, 'Мы приступаем к работе')