section.service-info
    .container
        h3.info-title ЭЛЕКТРОСНАБЖЕНИЕ И ЭЛЕКТРООСВЕЩЕНИЕ
        .info-text
            p Наша компания осуществляет на профессиональном уровне комплекс работ по проектированию сетей электроснабжения и электроосвещения для зданий и сооружений. Мы готовы выполнить проектирование для различных предприятий: крупных и средних промышленных объектов, жилых домов, коттеджей, офисных помещений и так далее. Решение этой задачи вы можете доверить нам
            .hide-info
                p Наши специалисты имеют длительный опыт и высокую квалификацию, способствующих в решении инженерных задач, проектировании электроснабжения любой степени сложности. Мы изучаем опыт зарубежных компаний, привнося свои собственные наработки, разрабатываем планы электрификации, которые учитывают все современные требования, проектируем надежные и удобные в эксплуатации системы.
                p Наша компания готова принять участие в разработке проекта на любой стадии. Наша задача – создание эффективной и оптимальной системы электроснабжения и электроосвещения объекта.
                p Почему проектирование стоит поручить нам?
                ul 
                    li - работа без аванса и бесплатный выезд на объект;
                    li - оптимальное соотношение цены и качества;
                    li - многолетний опыт аттестованных специалистов;
                    li - креативные решения для задач любого уровня сложности.
                p Оставляйте заявку или закажите бесплатный звонок и получите предложение сегодня.

            a(href="#!").more-info Читать далее