
section.service-description
    .container
        h2.title-2 Описание раздела
        .service-description__text
            p Система водоснабжения - это комплекс инженерных сооружений, оборудования и сетей, предназначенных для забора воды из источника водоснабжения, ее очистки, хранения и подачи к потребителям требуемого количества и качества.
section.structure
    .container
        h2.title-2 Состав раздела
        
        .structure-list
            p.structure-title Стадия «Проект» согласно Постановлению Правительства Российской федерации от 16.02.2008 г. №87,:
            ul
                li - Пояснительную записку (по пунктам Постановления №87)
                li - Поэтажные планы с расстановкой сантехнических приборов, арматуры, насосных агрегатов и прокладкой внутренних сетей водоснабжения и водоотведения 
                li - Генплан с наружными сетями водоснабжения и водоотведения с указанием диаметров труб, длины участков, типа и способа прокладки, а также с привязкой очистных сооружений, жироуловителей, масло-нефтеотделителей (при необходимости)
                li - Принципиальные схемы
                li - Баланс водопотребления и водоотведения
                li - Расчет расходов на водоснабжение и водоотведение по СП 30.13330.2012
                li - Спецификация материалов и оборудования
        .structure-list
            p.structure-title Стадия «Рабочая документация» внутренних систем водоснабжения и водоотведения по ГОСТ 21.601-2011:
            ul
                li - Общие данные с указанием всех проектных решений (в том числе подбор оборудования), расчетных расходов, напоров и указаний по монтажу
                li - Поэтажные планы с расстановкой сантехнических приборов, оборудования, арматуры, стояков, трассировкой трубопроводов с указанием их типа, диаметров и уклонов 
                li - Аксонометрические схемы систем
                li - Узлы и детали
                li - Водопроводная насосная станция. Принципиальна схема, планы, разрезы, схема (при необходимости)
                li - спецификация материалов и оборудования
        .structure-list
            p.structure-title Стадия «Рабочая документация» наружных систем водоснабжения и водоотведения по ГОСТ 21.704-2011:
            ul
                li - Генплан с наружными сетями водоснабжения и водоотведения с указанием диаметров труб, длины участков, типа и способа прокладки, а также с привязкой очистных сооружений, жироуловителей, масло-нефтеотделителей (при необходимости)
                li - Продольные профили 
                li - Схемы канализационных сетей
                li - Схема водопровода с подробной спецификацией элементов
                li - Схема водомерного узла и водомерной вставки с подробной спецификацией
                li - Узлы прокладки трубопроводов, футляров, обойм, упоров, колодцев типового и индивидуального исполнения
                li - Оформление таблицы колодцев
section.data-list
    .container
        h2.title-2 Перечень исходных данных
        ul
            li - Технические условия
            li - Техническое задание
            li - Поэтажные планировки зданий, включая пояснительную записку (раздел АР)
            li - Технологические решения (Подраздел ТХ)
            li - Задания от смежников

section.work-stage
    .container
        h2.title-2.text-center Этапы работы
        .work-stage-wrapper
            +work-item('work1', 1, 'Вы оставляете заявку на сайте или звоните нам')
            +work-item('work2', 2, 'Мы обсуждаем с Вами детали будущего проекта')
            +work-item('work3', 3, 'Делаем точный расчет&nbsp;в&nbsp;соответвии с&nbsp;позициями&nbsp;проекта')
            +work-item('work4', 4, 'Заключаем <br> договор')(class="w-14")
            +work-item('work5', 5, 'Вы вносите предоплату')(class="w-14")
            +work-item('work6', 6, 'Мы приступаем к работе')