mixin filterItem(srcIcon1,srcIcon2, title, data, activeClass)
    .filter-item(data-index= data class=" "+ activeClass)
        .filter-icon
            img.icon-passiv(src="img/tabs/"+srcIcon1+".svg", alt="icon")
            img.icon-active(src="img/tabs/"+srcIcon2+".svg", alt="icon")
        .filter-title
            span !{title}
section.our-service
    .container
        h2.title-2 наши услуги
        .service-tab
            .service-tab-filters
                +filterItem('tab1', 'tabs11','все', '1', 'active')
                +filterItem('tab2','tabs22',  'ВНУТРЕННИЕ <br>ИНЖЕНЕРНЫЕ СЕТИ', '2')
                +filterItem('tab3', 'tabs33','НАРУЖНЫЕ<br>ИНЖЕНЕРНЫЕ СЕТИ', '3')
                +filterItem('tab4', 'tabs44','ИТП', '4')
                +filterItem('tab5','tabs55', 'специальные разделы', '5')
            
            .service-tab-content
                .tab-content.active(data-role="1")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title А
                            .tab-content-item 
                                a(href="#!") Автоматизированная система управления и диспетчеризации
                                a(href="#!") Автоматическая пожарная сигнализация
                                a(href="#!") Автоматическая установка пожарной сигнализации
                                a(href="#!") Автоматическая установка пожаротушения
                                a(href="#!") Архитектурно-планировочные решения
                        .alphabet-block
                            p.tab-content-title В
                            .tab-content-item
                                a(href="water_supply.pug") Водоснабжение и водоотведение
                        .alphabet-block
                            p.tab-content-title К
                            .tab-content-item
                                a(href="#!") Конструктивно и объемно-планировочные решения
                        .alphabet-block
                            p.tab-content-title Л
                            .tab-content-item
                                a(href="#!") Локальная вычислительная сеть
                        .alphabet-block
                            p.tab-content-title М
                            .tab-content-item
                                a(href="#!") Мероприятия по обеспечению доступа инвалидов 
                                a(href="#!") Мероприятия по обеспечению пожарной безопасности
                        .alphabet-block
                            p.tab-content-title О
                            .tab-content-item
                                a(href="#!") Охранная сигнализация
                                a(href="#!") Охранно-Защитная Дератизационная Система
                                a(href="#!") Отопление, вентиляция и  кондиционирование
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title П
                            .tab-content-item 
                                a(href="#!") Противодымная вентиляция
                                a(href="#!") Противопожарный водопровод
                                a(href="#!") Проект организации дорожного движения 
                                a(href="#!") Проект организации строительства 
                                a(href="#!") Перечень мероприятий по охране окружающей среды
                        .alphabet-block
                            p.tab-content-title Р
                            .tab-content-item 
                                a(href="#!") Радиофикация
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item 
                                a(href="#!") Система кабельного телевидения
                                a(href="#!") Система охранного телевидения
                                a(href="#!") Система часофикации
                                a(href="#!") Система телефонизации
                                a(href="#!") Система оповещения и управления эвакуацией
                                a(href="#!") Структурированная кабельная система 
                                a(href="#!") Схема планировочной организации земельного участка
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item 
                                a(href="#!") Технологические решения
                                a(href="#!") Требования к обеспечению безопасной эксплуатации объектов 
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="#!") Электроснабжение и электроосвещение
                                a(href="#!") Энергоэффективность

                .tab-content(data-role="2")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title А
                            .tab-content-item 
                                a(href="#!") Автоматизированная система управления и диспетчеризации
                                a(href="#!") Автоматическая пожарная сигнализация
                                a(href="#!") Автоматическая установка пожарной сигнализации
                                a(href="#!") Автоматическая установка пожаротушения
                               
                        .alphabet-block
                            p.tab-content-title В
                            .tab-content-item
                                a(href="water_supply.pug") Водоснабжение и водоотведение
                        
                        .alphabet-block
                            p.tab-content-title Л
                            .tab-content-item
                                a(href="#!") Локальная вычислительная сеть
                        
                        .alphabet-block
                            p.tab-content-title О
                            .tab-content-item
                                a(href="#!") Охранная сигнализация
                                a(href="#!") Охранно-Защитная Дератизационная Система
                                a(href="#!") Отопление, вентиляция и  кондиционирование
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title П
                            .tab-content-item 
                                a(href="#!") Противодымная вентиляция
                                a(href="#!") Противопожарный водопровод
                               
                        .alphabet-block
                            p.tab-content-title Р
                            .tab-content-item 
                                a(href="#!") Радиофикация
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item 
                                a(href="#!") Система кабельного телевидения
                                a(href="#!") Система охранного телевидения
                                a(href="#!") Система часофикации
                                a(href="#!") Система телефонизации
                                a(href="#!") Система оповещения и управления эвакуацией
                                a(href="#!") Структурированная кабельная система 
                                a(href="#!") Схема планировочной организации земельного участка
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item 
                                a(href="#!") Технологические решения
                               
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="#!") Электроснабжение и электроосвещение
                               
                .tab-content(data-role="3")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title Н
                            .tab-content-item 
                                a(href="#!") Наружное водоотведение 
                                a(href="#!") Наружное водоснабжение 
                                a(href="#!") Наружное освещение 
                                
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item
                                a(href="#!") Система теплоснабжения 
                               
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item
                                a(href="#!") Трансформаторные подстанции
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="#!") Электроснабжение
                                
                .tab-content(data-role="4")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title А
                            .tab-content-item 
                                a(href="#!") Автоматизированная система управления и диспетчеризации
                                
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item
                                a(href="#!") Тепломеханическая часть
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title У
                            .tab-content-item
                                a(href="#!") Узел учета тепловой энергии
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="#!") Электроснабжение и электроосвещение 
                    
                .tab-content(data-role="5")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title Д
                            .tab-content-item 
                                a(href="#!") Дедроплан и перечетная ведомость 
                                
                        .alphabet-block
                            p.tab-content-title М
                            .tab-content-item
                                a(href="#!") Мероприятия по обеспечению пожарной безопасности 
                                a(href="#!") Мероприятия по обеспечению доступа инвалидов 
                        .alphabet-block
                            p.tab-content-title Н
                            .tab-content-item
                                a(href="#!") Нормативная периодичность капитального ремонта 
                        
                    .tab-content-col   
                        .alphabet-block
                            p.tab-content-title П
                            .tab-content-item
                                a(href="#!") Проект организации дорожного движения 
                                a(href="#!") Проект производства работ 
                                a(href="#!") Проект организации строительства 
                                a(href="#!") Перечень мероприятий по охране окружающей среды 
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item
                                a(href="#!") Схема планировочной организации земельного участка 
                               
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item
                                a(href="#!") Требования к обеспечению безопасной эксплуатации объектов
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item
                                a(href="#!")  Энергоэффективность
                                
                                