section.service-info
    .container
        h3.info-title водоснабжение и канализация. Внутренний противопожарный водопровод
        .info-text
            p ООО «Дельта В Групп» предлагает создание проекта водоснабжения, противопожарных водопроводов и канализации. Правильный выбор положения, создание проекта, умный подбор технологии и материалов позволит создать высококачественную систему. 
            p Системы водоснабжения для использования воды в нужном количестве на самые разнообразные нужды. Системы канализации для сбора сточных вод и удаления продуктов жизнедеятельности.
            .hide-info
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus, quidem saepe aliquam repellendus sequi facilis magni mollitia nulla cum cupiditate accusantium consectetur nemo rem est illo, dicta, beatae velit quos.
            a(href="#!").more-info Читать далее