section.works
    .container
        h2.title-2 наши работы
    .container-fluid
        .works-wrapper
            .works-slider
                .works-slider-item
                    .works-slider-img
                        img(src="img/works/1.jpg", alt="work")
                    .works-slider-text
                        .work-number 01
                        .work-descrip 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis
                            p Стадия P
                    .works-slider-btn
                        a(href="#").page-button Подробнее
                .works-slider-item
                    .works-slider-img
                        img(src="img/works/2.jpg", alt="work")
                    .works-slider-text
                        .work-number 01
                        .work-descrip 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis
                            p Стадия P
                    .works-slider-btn
                        a(href="#").page-button Подробнее
                .works-slider-item
                    .works-slider-img
                        img(src="img/works/3.jpg", alt="work")
                    .works-slider-text
                        .work-number 01
                        .work-descrip 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis
                            p Стадия P
                    .works-slider-btn
                        a(href="#").page-button Подробнее
                .works-slider-item
                    .works-slider-img
                        img(src="img/works/4.jpg", alt="work")
                    .works-slider-text
                        .work-number 01
                        .work-descrip 
                            p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ad cum quidem delectus illo saepe facere veniam sint facilis
                            p Стадия P
                    .works-slider-btn
                        a(href="#").page-button Подробнее