section.benefits
    .container
        .benefits-row
            .container-col.container-col-border
                h2.title-2 Преимущества
                .benefits-text#benefits-text
                    .benefits-text-item.active(data-item="1")
                        h3.title-3 цена и качество
                        p Выгодное соотношение цены и качества.
                    .benefits-text-item(data-item="2")
                        h3.title-3 Отношение
                        p Живой диалог, в который входит консультации со специалистами, выезд на объект, подготовка коммерческого предложения.
                    .benefits-text-item(data-item="3")
                        h3.title-3 Скорость
                        p Оперативная корректировка проекта по замечаниям Заказчика.
            .container-col
                .benefits-img
                    a(href="#!" style="background-image: url('img/benefit1.jpg')"  data-card="1").benefits-img-item
                        span цена и качество
                        span.arrow &rarr;
                    a(href="#!" style="background-image: url('img/benefit2.jpg')" data-card="2").benefits-img-item
                        span Отношение
                        span.arrow &rarr;
                        
                    a(href="#!" style="background-image: url('img/benefit3.jpg')" data-card="3").benefits-img-item
                        span Скорость
                        span.arrow &rarr;