section.docs
    .container
        .docs-cpo
            .docs-title
                h2.title-2 выписки #[br] cpo
            .docs-items
                .docs-item-el
                    a(href="img/cpo1.jpg")
                        img(src="img/cpo1.jpg", alt="cpo")

                .docs-item-el
                    a(href="img/cpo2.jpg")
                        img(src="img/cpo2.jpg", alt="cpo")
        
        .doc-iso
            .docs-title
                h2.title-2 сертификат #[br] iso
            .doc-slider-wrapper
                .doc-slider
                    .doc-iso-item
                        a(href="img/iso/iso1.jpg")
                            img(src="img/iso/iso1.jpg", alt="cpo")
                    .doc-iso-item
                        a(href="img/iso/iso2.jpg")
                            img(src="img/iso/iso2.jpg", alt="cpo")
                    .doc-iso-item
                        a(href="img/iso/iso3.jpg")
                            img(src="img/iso/iso3.jpg", alt="cpo")
                    .doc-iso-item
                        a(href="img/iso/iso4.jpg")
                            img(src="img/iso/iso4.jpg", alt="cpo")


