mixin filterItem(srcIcon1,srcIcon2, title, data, activeClass)
    .filter-item(data-index= data class=" "+ activeClass)
        .filter-icon
            img.icon-passiv(src="img/tabs/"+srcIcon1+".svg", alt="icon")
            img.icon-active(src="img/tabs/"+srcIcon2+".svg", alt="icon")
        .filter-title
            span !{title}
section.our-service
    .container
        h2.title-2 наши услуги
        .service-tab
            .service-tab-filters
                +filterItem('tab1', 'tabs11','все', '1', 'active')
                +filterItem('tab2','tabs22',  'ВНУТРЕННИЕ <br>ИНЖЕНЕРНЫЕ СЕТИ', '2')
                +filterItem('tab3', 'tabs33','НАРУЖНЫЕ<br>ИНЖЕНЕРНЫЕ СЕТИ', '3')
                +filterItem('tab4', 'tabs44','ИТП', '4')
                +filterItem('tab5','tabs55', 'специальные разделы', '5')
            
            .service-tab-content
                .tab-content.active(data-role="1")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title А
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматизированная система управления и диспетчеризации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматическая пожарная сигнализация
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматическая установка пожарной сигнализации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматическая установка пожаротушения
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Архитектурно-планировочные решения
                        .alphabet-block
                            p.tab-content-title В
                            .tab-content-item
                                a(href="water_supply.html") Водоснабжение и водоотведение
                        .alphabet-block
                            p.tab-content-title К
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Конструктивно и объемно-планировочные решения
                        .alphabet-block
                            p.tab-content-title Л
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Локальная вычислительная сеть
                        .alphabet-block
                            p.tab-content-title М
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Мероприятия по обеспечению доступа инвалидов 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Мероприятия по обеспечению пожарной безопасности
                        .alphabet-block
                            p.tab-content-title О
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Охранная сигнализация
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Охранно-Защитная Дератизационная Система
                                a(href="conditioner.html" ) Отопление, вентиляция и  кондиционирование
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title П
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Противодымная вентиляция
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Противопожарный водопровод
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Проект организации дорожного движения 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Проект организации строительства 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Перечень мероприятий по охране окружающей среды
                        .alphabet-block
                            p.tab-content-title Р
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Радиофикация
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система кабельного телевидения
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система охранного телевидения
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система часофикации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система телефонизации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система оповещения и управления эвакуацией
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Структурированная кабельная система 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Схема планировочной организации земельного участка
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Технологические решения
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Требования к обеспечению безопасной эксплуатации объектов 
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="electro.html") Электроснабжение и электроосвещение
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Энергоэффективность

                .tab-content(data-role="2")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title А
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматизированная система управления и диспетчеризации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматическая пожарная сигнализация
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматическая установка пожарной сигнализации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматическая установка пожаротушения
                               
                        .alphabet-block
                            p.tab-content-title В
                            .tab-content-item
                                a(href="water_supply.html") Водоснабжение и водоотведение
                        
                        .alphabet-block
                            p.tab-content-title Л
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Локальная вычислительная сеть
                        
                        .alphabet-block
                            p.tab-content-title О
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Охранная сигнализация
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Охранно-Защитная Дератизационная Система
                                a(href="conditioner.html") Отопление, вентиляция и  кондиционирование
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title П
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Противодымная вентиляция
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Противопожарный водопровод
                               
                        .alphabet-block
                            p.tab-content-title Р
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Радиофикация
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система кабельного телевидения
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система охранного телевидения
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система часофикации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система телефонизации
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система оповещения и управления эвакуацией
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Структурированная кабельная система 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Схема планировочной организации земельного участка
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Технологические решения
                               
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="electro.html") Электроснабжение и электроосвещение
                               
                .tab-content(data-role="3")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title Н
                            .tab-content-item 
                                a(href="water_supplay.html" type="button" data-toggle="modal" data-target="#buttonForm") Наружное водоотведение 
                                a(href="water_supplay.html" type="button" data-toggle="modal" data-target="#buttonForm") Наружное водоснабжение 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Наружное освещение 
                                
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Система теплоснабжения 
                               
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Трансформаторные подстанции
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="electro.html") Электроснабжение
                                
                .tab-content(data-role="4")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title А
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Автоматизированная система управления и диспетчеризации
                                
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Тепломеханическая часть
                    .tab-content-col    
                        .alphabet-block
                            p.tab-content-title У
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Узел учета тепловой энергии
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item 
                                a(href="electro.html") Электроснабжение и электроосвещение 
                    
                .tab-content(data-role="5")
                    .tab-content-col
                        .alphabet-block
                            p.tab-content-title Д
                            .tab-content-item 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Дедроплан и перечетная ведомость 
                                
                        .alphabet-block
                            p.tab-content-title М
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Мероприятия по обеспечению пожарной безопасности 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Мероприятия по обеспечению доступа инвалидов 
                        .alphabet-block
                            p.tab-content-title Н
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Нормативная периодичность капитального ремонта 
                        
                    .tab-content-col   
                        .alphabet-block
                            p.tab-content-title П
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Проект организации дорожного движения 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Проект производства работ 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Проект организации строительства 
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Перечень мероприятий по охране окружающей среды 
                        .alphabet-block
                            p.tab-content-title С
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Схема планировочной организации земельного участка 
                               
                        .alphabet-block
                            p.tab-content-title Т
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm") Требования к обеспечению безопасной эксплуатации объектов
                        .alphabet-block
                            p.tab-content-title Э
                            .tab-content-item
                                a(href="#!" type="button" data-toggle="modal" data-target="#buttonForm")  Энергоэффективность
                                
                                