section.service
    .container
        .service-content
            h2.title-2 наши услуги            
            .text-block
                p Компания «Дельта В Групп» осуществляет на профессиональном уровне комплексное проектирование. 
                p Мы готовы выполнить проекты любой сложности для объектов любого функционального назначения.
                p.pb-20 Мы изучаем опыт зарубежных компаний, привнося свои собственные наработки в проектные решения.
                p Наша компания готова принять участие в разработке проекта на любой стадии.
                ol.pb-20
                    li Оптимальное соотношение цены и качества;
                    li Многолетний опыт аттестованных специалистов;
                    li Понимание и выполнение поставленных задач, с применением современных технологий и нестандартных решений;
                a(href="service.html").page-button Посмотреть услуги