section.service-info
    .container
        h3.info-title отопление, вентиляция и кондициорирование, противодымная вентиляция
        .info-text
            p Наша компания предлагает услуги проектирования систем вентиляции, кондиционирования и отопления для квартир, частных домов, офисов и многих других. 
 
            p Самочувствие и здоровье человека напрямую зависят от уровня комфорта в помещении. Качественно спроектированная и смонтированная без ошибок система вентиляции или кондиционирования является основным способом обеспечения чистоты воздуха. Это залог хорошего самочувствия и здоровья людей в помещении, надежная защита от перегрева оборудования, благоприятная среда для продуктивной работы и качественного отдыха человека
            .hide-info
                p При создании эффективной и экономичной системы вентиляции, отопления или кондиционирования профессиональное проектирование - обязательная составляющая любой инженерной системы. Качественный результат нуждается в высокой квалификации и значительного опыта в данной области, что и позволяют нам гарантировать наши специалисты.
                p Наша компания применяет высокоэффективные работы по разработке документации и проектированию на объектах как бытового, так и промышленного назначения. Результатом являются качественные проекты вентиляции и кондиционирования, где все инженерные решения соответствуют действующим нормам и правилам. Заказывая проектирование систем у нас, вы получаете готовое решение, гарантирующее работающую систему поддержания температуры и влажности в помещении. Мы специализируемся на решении самых сложных ситуаций и задач, которые могут возникнуть на объекте.
                p Оставьте заявку либо закажите обратный звонок, и мы перезвоним с предложением для вас уже сегодня.
            a(href="#!").more-info Читать далее









