.service {
    background-color: #fff;
    background-image: url(../img/bg/service.jpg);
    background-position: right top;
    background-size: contain;
    min-height: 700px;
    background-repeat: no-repeat;
    padding-bottom: 25px;

    @media(max-width:1365px) {
        background-size: cover;
    }
}

.service-content {
    width: 100%;
    max-width: 650px;
    padding-top: 90px;
    padding-right: 60px;
    padding-bottom: 20px;
    background-color: rgba(255, 255, 255, .75);

    @media(max-width:1365px) {
        background-size: cover;
        padding-left: 40px;
        padding-right: 40px;
        padding-top: 60px;
    }

    @media(max-width:767px) {
        background-size: cover;
        padding-left: 20px;
        padding-right: 20px;
    }

}