.works {
    padding-bottom: 160px;
    padding-top: 55px;
}

.works-slider {
    margin-top: 80px;
}

.works-slider-item {
    max-width: 515px;
    position: relative;
    font-size: 16px;
    border-radius: 5px 5px 0 0;
    margin-right: 60px;

    @media(max-width:1439px) {
        width: 338px;
    }

    @media(max-width:1365px) {
        width: 300px;
        margin-right: 45px;

    }


    @media(max-width:424px) {
        margin-right: 20px;
        width: 270px;
    }

}

.works-slider-item .page-button {
    width: 320px;

    @media(max-width:767px) {
        width: 100%;
        font-size: 15px;
        height: 50px;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
        min-width: 200px;
    }
}

.works-slider-img {
    // height: 400px;
    position: relative;
    margin-bottom: 35px;
    border-radius: 5px 5px 0 0;
    filter: grayscale(3);
    transition: .5s;
}

.works-slider-img:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 165px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), #fff 75%);
    z-index: 5;
    transition: .5s;
    opacity: 1;
}

.work-descrip p:first-child,
.work-number {
    margin-bottom: 16px;
    transition: .5s;
}

.work-descrip {
    margin-bottom: 25px;
}

.work-descrip p {
    text-transform: uppercase;
}

.works-slider-item:hover {
    .work-number {
        color: @blue;
    }

    .works-slider-img:after {
        opacity: 0;
    }

    .works-slider-img {
        filter: grayscale(0);
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);

    }

    .page-button {
        border: 1px solid @blue;
        color: @blue;
    }
}

.works-slider-item.slick-center {
    .work-number {
        color: @blue;
    }

    .works-slider-img:after {
        opacity: 0;
    }

    .works-slider-img {
        filter: grayscale(0);
        box-shadow: 0 0 15px 5px rgba(0, 0, 0, .5);

    }

    .page-button {
        border: 1px solid @blue;
        color: @blue;
    }
}