extends ../layouts/layout.pug

block content
	include ../sections/_header.pug
	include ../sections/_service.pug
	include ../sections/_about.pug
	include ../sections/_benefits.pug
	include ../sections/_works.pug
	include ../sections/_doc.pug
	include ../sections/_partners.pug
	include ../sections/_footer.pug


block variables
	-var title = "Главная";
	